.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  #24263c;
  height: 100vh;
}
.card{
  display:flex;
  flex-direction: column;
  
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px #475569;
  height:50vh;
  width: 50vw;
}
.h{
  color:#ffffff;
}
.hh{
  color: #ef4444;
}